name: Deploy Frontend

on:
  push:
    branches: [ "main" ]
    paths:
      - "frontend/**"

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::341823313809:role/database-istok1-dev-github-actions-frontend
          aws-region: us-east-1

      - name: Upload frontend to S3
        run: |
          aws s3 sync frontend/ s3://database-istok1-dev-frontend \
            --delete \
            --exclude ".github/*"

      - name: Invalidate CloudFront
        run: |
          aws cloudfront create-invalidation \
            --distribution-id E2GHV05QFRZUK8 \
            --paths "/*"
